hr {
  border: 1px solid black;
  opacity: 0.5
}

.parent {
    display: flex;
}
.wrapper2 {
    width: 100%;
    border: 0px solid black;
    overflow: hidden; /* add this to contain floated children */
}
.first {
    width: 48%;
    float:right; /* add this */
    -webkit-box-shadow: 3px 3px 5px 6px gray;
    -moz-box-shadow:    3px 3px 5px 6px gray;
    box-shadow:         3px 3px 5px 6px gray;
    margin: 15px;
    text-align: center;
    border-radius: 20px;
}
.first:hover{
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 3px solid cornflowerblue;
  box-shadow: 0 0 10px #07c;
}
.second:hover{
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 3px solid cornflowerblue;
  box-shadow: 0 0 10px #07c;
}
.second {
    width: 48%;
    float: left; /* add this */
    -webkit-box-shadow: 3px 3px 5px 6px gray;
    -moz-box-shadow:    3px 3px 5px 6px gray;
    box-shadow:         3px 3px 5px 6px gray;
    margin: 15px;
    text-align: center;
    border-radius: 20px;
  
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  border: 1px solid black;
  width: 300px;
}
.shadowleft {
  -webkit-box-shadow: 3px 3px 5px 6px gray;
  -moz-box-shadow:    3px 3px 5px 6px gray;
  box-shadow:         3px 3px 5px 6px gray;
  width: 20%;
  height: 100px;
  text-align: center;
  padding: 5px;
  position: relative;
  display: inline-block
}

.shadowright {
  -webkit-box-shadow: 3px 3px 5px 6px gray;
  -moz-box-shadow:    3px 3px 5px 6px gray;
  box-shadow:         3px 3px 5px 6px gray;
  width: 20%;
  height: 100px;
  text-align: center;
  padding: 5px;
  position: relative;
  display: inline-block
}

.welkom{
  position: fixed;
  width: 100%;
  z-index:+1;
}

.slider{
  position: relative;
  top: 48px;
  z-index:0;
}
